@import 'variables';
.error {
    background: url(../images/barrel.jpg);
    background-size: cover;
    color: $white;
    
    &__container{
     height: 100vh;

     span{
         color: $primary-yellow;
         font-size: 15em;
         text-align: center;
         display: block;
         letter-spacing: -0.0500em;
         filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.161));
     }

     svg{ 
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: center;
     }
   
     a {
        display: inline-block;
        background-color: $primary-yellow;
        color: $white;
        padding: .7em 2em;
        border-radius: 300px;
        margin-top: 2em;
        font-size: .875em;
    }
 
 }

 .backHome{
    text-align: center;
    }
}