@import "variables";
/* ==========================================================================
   Resets
   ========================================================================== */

@font-face {
    font-family: 'Patron';
    src: url('../fonts/Patron_Medium.otf');
}

html {
    font-size: 100%;
}

body {
    &.noscroll {
        overflow: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

section {
    padding: 3em 0;
}

body,
input,
button {   
    line-height: 1.3;
    font-family: 'Patron', Rockwell,'Courier Bold',Courier,Georgia,Times,'Times New Roman',sans-serif;
    overflow-x: hidden;
}

p {
    line-height: 1.5;
    color: $gray;
    font-size: .85em;
}

img {
    width: 100%;
    display: block;
}

/* ==========================================================================
  Helper Classes
   ========================================================================== */
/* Flex */
.flex {
    display: flex;
    &-jc-c {
        justify-content: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
}

/* Grid */
.grid {
    display: grid;
    &-pi-c {
        place-items: center;
    }
    &-pi-e {
        place-items: end;
    }
}

.visually-hidden {
    display: none;
}

/* Current */
.current {
    font-weight: 700;
}

.current::after {
    content: '';
    position: absolute;
    bottom: -29.5px;
    z-index: 1;
    height: 4px;
    width: 100%;
    display: block;
    opacity: 1;
    background-color: $primary-yellow;
}